{% extends 'base.html.twig' %}

{% block title %}Hello HospitalController!{% endblock %}

{% block body %}
    <div style="display: flex; align-items: center; justify-content: center">
    {{ form_start(f) }}
    {{ form_end(f) }}
    </div>
{% endblock %}