{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.CaptchaCode) }}
    <button type="submit" class="btn btn-success">Reset Password</button>
    {{ form_end(form) }}
{% endblock %}